.prime-products-container{
    list-style-type: none;
    margin-top: 5px;
    padding: 0px;
}
@media (min-width:768px){
    .prime-products-container{
        display: flex;
        flex-wrap: wrap;
    }
}